*{margin: 0; padding:0;}
.header{
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: center;
    display: grid;
    color: #6d6d6d;
    font-family: 'Inconsolata', monospace;
    align-items: center;
    text-align: center;

}
.header h1{
  margin-left: -80%;
}
.login-area{
  border: 1q solid #232121;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #474747;
    color: #f3f0f0;

}
.login-area input{
    margin-bottom: 5px;
}
.login-area label{
    font-size: 16px;

}
.submit{
    margin-top:10px;
    font-size: 18px;
    width: 170px;
    background-color:#d95b30;
    color: white;
    cursor: pointer;
    border: #ffffff
}
.submit:hover{
    background-color: #1E90FFFF;
}
.login-area a{
    color: #77abc2;
    margin-top: 10px;
}
.login-area a:hover{
    color: #1E90FFFF;
}
.header img{
    height:100px;
    width: 100px;
}


