*{margin: 0; padding:0;}
.header{
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: center;
    display: grid;
    color: #6d6d6d;
    font-family: 'Inconsolata', monospace;
    align-items: center;
    text-align: center;

}
.header h1{
  margin-left: -80%;
}
.login-area{
  border: 1q solid #232121;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #474747;
    color: #f3f0f0;

}
.login-area input{
    margin-bottom: 5px;
}
.login-area label{
    font-size: 16px;

}
.submit{
    margin-top:10px;
    font-size: 18px;
    width: 170px;
    background-color:#d95b30;
    color: white;
    cursor: pointer;
    border: #ffffff
}
.submit:hover{
    background-color: #1E90FFFF;
}
.login-area a{
    color: #77abc2;
    margin-top: 10px;
}
.login-area a:hover{
    color: #1E90FFFF;
}
.header img{
    height:100px;
    width: 100px;
}


@media (max-width: 1111px) {
    .header {
        align-items: center;
    } .header h1 {
        font-size: 30px;
    }
}
@media (max-width: 990px) {
    .header h1 {
        font-size: 22px;
    }
}@media (max-width: 768px) {
    .header h1 {
        margin-left: 1%;
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    .header {
        display: flex;
        flex-direction:column ;
        margin-bottom: 20px;
    }

    .header h1{
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
        margin-left: 1%;
    }
}



