/*.main-header {*/
/*    margin: 20px;*/
/*}*/
.card{
    padding: 20px;
    color: #d95b30;
}

.card img{
height: 300px;
}
.card .buttons{
    display: flex;
}
.card .btn-login{
    margin-left: 20px;
}
.card .btnLogout{
    margin-left: 50%;
    display: block;
    background-color: #3094f6;
    color: #e59031;
}
.card h1{
    color: red;

}
.registered-email{
    color: green;
    margin:20px;
    text-align: left;
}
.chat-list{
    color: #d95b30;
}
.listItem{
    cursor: pointer;
}


