*{margin: 0; padding:0;}
.header{
    grid-template-columns: auto auto;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
    display: grid;
    text-align: center;
    background-color: #ecf0f3;
    color: #6d6d6d;
    font-family: 'Inconsolata', monospace;

}

.signup-area{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #474747;
    color: #f3f0f0;

}
.signup-area input{
    margin-bottom: 10px;


}

.signup-area button{
    font-size: 18px;
    width: 170px;
    background-color: #137474;
    color: white;
    cursor: pointer;
    border: #ffffff;
    margin-top: 10px;


}
.signup-area button:hover{
    background-color: #1E90FFFF;

}
.signup-area a{
   color: #77abc2;
    margin-top: 10px;
    font-size: 14px;
}
.signup-area a:hover{
    color: #1E90FFFF;

}