.body {
    margin-top: 50px;
    margin-bottom: 50px;

}

.navbar-brand {
    margin-right: 100px;
}

#user {
    position: absolute;
    right: 25px;
}

#btnTutor {
    margin-right: 85px;
}

/*....................*/
.header {
    justify-content: space-evenly;
}

#images img {
    width: 200px;
    height: 200px;
    margin: 10px 10px 20px 10px;
}

#title {
    letter-spacing: 2px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin-left: 3%;
    text-align: center;
    line-height: 2;
}
.languages{
    background-color: #eceaea;
}
.programming{
    background-color: #eceaea;
}

.academic-course img {
    margin-top: 15px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-bottom: 15px;
    width: auto;

}
.pay{
    background-color: floralwhite;
}

.payments-online img {
    width: 400px;
    height: 300px;
    margin-left: 20%;
    display:block;
}

.payments-online {
    display: grid;
    grid-template-columns: auto auto;
}
.payments-online input{
    margin-left: 35%;
}

/*media query*/
@media (max-width: 990px) {
    #images img {
        width: 150px;
        height: 150px;
    }

    .main-header {
       font-size: 30px;
    }
}

@media (max-width: 850px) {
    .academic-course img{
        width: 55%;
    }
    .payments-online img {
        width: 300px;
        height: 200px;
    }
    .payments-online input{
        margin-left: 35%;
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .main-header {
        font-size: 22px;
    }
   .header{
       grid-template-columns: none;
       display: block;
       margin-bottom: 60px;
   }
    #title {
        height: 150px;
        line-height: 1.5;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #images img {
        width: 250px;
        height: 250px;
    }
    .academic-course img{
        width: 40%;
    }
    .payments-online img {
        width: 250px;
        height: 180px;

    }
    .payments-online input{
        font-size: 12px;
        text-align: center;
    }

}
@media (max-width: 576px) {

    .payments-online img {
        width: 250px;
        height: 150px;
    }
    .payments-online {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 10%;
        margin-left:-18%;



    }
}


